.requirement__table{
    width: 70%;
    margin: auto;
    th, td{
        border-collapse: collapse;
        border: solid gray 1px;
        text-align: center;
    }
}

.requirement{
    text-align: left;
}